<div>
    <mat-drawer-container class="example">
        <mat-toolbar color="" class="toolbar">
      <button mat-icon-button (click)="drawer.toggle()" style="outline:none">
        <mat-icon>menu</mat-icon>
      </button>
      <div>Fundoo Notes </div>
      <img class="keep" src=" ..\assets\keep_48dp.png">
      <div class="search-div">
        <mat-card class="search-bar">
          <button mat-icon-button class="search-button" style="outline:none">
            <mat-icon matTooltip="Search">search</mat-icon>
          </button>
          <input class="form-control" name="search" placeholder="search">
        </mat-card>
      </div>
      <div>
        <button mat-icon-button *ngIf="popup" (click)="listview()">
          <img class="img" src="..\assets\demo.svg">
        </button>
      </div>
      <div class="profile">
        <img class="image" src="..\assets\download.jpg">
      </div>
    </mat-toolbar>

    <mat-drawer-container class="example-container">
        <mat-drawer #drawer class="example-sidenav" mode="side">
          
        <p>Fundoo Keep</p>
        
          <div  class="notes">
            <i class="material-icons-outlined">emoji_objects</i>
            <button mat-button class="button">Notes</button><br>
          </div>
           <i class="material-icons-outlined">notifications_none</i>
          <button mat-button class="button">Reminders</button><br>
    
          <i class="material-icons-outlined">create</i>
          <button mat-button class="button">Edit labels</button><br>
      
          <i class="material-icons-outlined">archive</i>
          <button mat-button class="button">Archive</button><br>
       
          <i class="material-icons-outlined">delete</i>
          <button mat-button class="button">Trash</button>
        

        <!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
  <button (click)="showFiller = !showFiller" mat-raised-button> -->

        <!-- </button> -->
          
      </mat-drawer>
    </mat-drawer-container>
  </mat-drawer-container> 
</div>