 .tool{
     display: flex;
     justify-content: space-between;
 }
  .example-container {
    width: 100%;
    height:545px;
    overflow: initial;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .example-sidenav {
    padding: 10px;
    width: 200px;
  }  
.paddingnote {
  padding: 20px;
  margin-top: -25px;
}
 .search-bar {   
  padding: 0px;
  width: 570px;

  border-radius: 16px;
//   outline: none;
 }
 .form-control{
  width: 23pc;
  height: 45px;
  outline: none;
  border: 0;
 }
 .options{
  display: flex;
  justify-content: space-between;
  margin-top: 25%;
 }
 .options2{
   display: contents;
 }
.list{
  display: inline;
}
.grid{
  display: inline;
}
.profile {
  background-size: cover;
  background-color: snow;
}
.pic{
  width: 15em;
    height: 10em;
}