<div class="matcard">
<mat-card>
  <form [formGroup] ='reset'>
<span>
  Fundoo ResetPassword
</span>
<div > 
    <mat-form-field  appearance="outline">
       <mat-label>Password</mat-label>
       <input matInput placeholder=" " type="password" formControlName="password" />
    </mat-form-field>      
    <div> 
    <mat-form-field appearance="outline">
       <mat-label>ConfirmPassword</mat-label>
       <input matInput placeholder=" " type="password" formControlName="confirmPassword" />
    </mat-form-field>
  </div>
    <div>
        <button mat-raised-button color="primary" (click)="onsubmit()" type="submit" class="submit" mat-button
          id="submit">SUBMIT</button>
      </div>
 </div>
</form>
</mat-card> 
</div>