.collab{
    width: 36em;
    border-radius: 1em;
}

.font-family{
    font-family: 'Times New Roman', Times, serif;
}
.circle{
    border: 1px solid black;
    border-radius: 50%;
    margin: 1%;
}

.name-size{
    font-size: 12px;
}
.email-size{
    font-size: 14px;
}