<div fxLayout="{{view}}">
  
  <mat-card class="card"  [ngStyle]="{'background':note.colour}" cdkDrag *ngFor="let note of notes" 
     [ngClass]="{'notesDisplay':flag==true,'notes':flag==false}">
    <div>
      <span class="pin" (click)="unpin(note.id)" matTooltip="Unpin">
        <img src="../../../assets/pin.svg">
      </span>
    </div>
    <div>
      <div (click)="openDialog(note)">
        <span> {{note.title}} </span>
        <br>
        <span> {{note.descriiption}} </span>
      </div>

      <div class="notes_icon" *ngIf="!trash">
        <i class="material-icons-outlined" [matMenuTriggerFor]="menu" matTooltip="Remind Me">add_alert</i>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <button mat-menu-item>Reminder : </button>
          <button mat-menu-item>Later Today</button>
          <button mat-menu-item>Later Tomorrow</button>
          <button mat-menu-item>Next Week</button>
          <button mat-menu-item>Picker
            <mat-form-field>
              <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="date" placeholder="Choose a date"
                style="width:50%">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <button type="submit" (click)="setReminder(note.id)" mat-button id="SUBMIT">Set</button>
            </mat-form-field>
          </button>
        </mat-menu>

        <i class="material-icons-outlined" mat-icon-button (click)="openCollaborater(note)"
          matTooltip="Collaborator">person_add</i>

        <i class="material-icons-outlined" [matMenuTriggerFor]="colorMenu">palette</i>

        <mat-menu class="colorpalette-card" #colorMenu="matMenu" yPosition="above" [overlapTrigger]="false">

          <div fxLayout="row wrap" *ngFor="let color of colorpalette;" [ngStyle]="{'background':color.colorcode}"
            (click)="Addcolor(note, color.colorcode)" style=" height: 30px; width:30px;
          border-radius: 50%;
          margin: 1px;">
          </div>
        </mat-menu>
        <div>{{note.image}}</div>
        <input style="display: none" type="file" (change)="onFileChanged($event,note.id)" #select>
        <button mat-icon-button (click)="selectfile.click()">
          <i class="material-icons-outlined">image</i>
        </button>


        <button mat-icon-button *ngIf="!note.archive">
          <i class="material-icons-outlined" (click)="onArchive(note.id)">archive</i>
        </button>


        <button mat-icon-button *ngIf="note.archive">
          <i class="material-icons-outlined" (click)="unarchive(note.id)">unarchive</i>
        </button>


        <i class="material-icons-outlined" [matMenuTriggerFor]="popup">more_vert</i>
        <mat-menu #popup="matMenu">
          <div mat-menu-item (click)="DeleteNote(note.id)">Delete Note
          </div>
          <button mat-menu-item>Add Label</button>
        </mat-menu>
      </div>
      <div *ngIf="trash">
        <button mat-icon-button [matMenuTriggerFor]="more" (click)="matmenuopen=true" (menuClosed)="matmenuopen=false;">
          <i class="material-icons-outlined">more_vert</i>
        </button>
        <mat-menu #more="matMenu" xPosition="after">
          <div mat-menu-item>
            <span>{{note.id}}</span>
          </div>
          <div mat-menu-item>
            <button mat-icon-button (click)="remove(note.id)">
              Delete
            </button>
          </div>
          <div mat-menu-item>
            <button mat-icon-button (click)="restore(note.id)">
              Restore
            </button>
          </div>
        </mat-menu>
      </div>
    </div>
  </mat-card>
</div>