<div class="matcard">
<mat-card>
  <form [formGroup]='forget'>
    <p>
      Enter your Fundoo Email
    </p>
    <div>
      <mat-form-field class="email" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder=" " type="text" formControlName="email" />
        <mat-error *ngIf="forget.get('email').hasError('required')">
          Enter valid Email
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="onsubmit()" type="submit" class="submit" mat-button
        id="submit">SUBMIT</button>
    </div>
  </form>
</mat-card>
</div>