<div class="edit">
  <div style="margin-top: 90px;">
  <input matInput  type="text" value="{{onenote.title}}" #title>
  <br><br>
  <input matInput  type="text" value="{{onenote.descriiption}}" #description>
</div>
</div>
<div >
  <i class="material-icons-outlined">add_alert</i>

  <i class="material-icons-outlined">person_add</i>

  <i class="material-icons-outlined">palette</i>

  <i class="material-icons-outlined">image</i>

  <i class="material-icons-outlined">archive</i>

  <i class="material-icons-outlined">more_vert</i>
  <button type="submit" (click)="onSubmit(title.value, description.value)" mat-button id="SUBMIT">SAVE</button>
</div>
